azure-identity==1.17.1
azure-search-documents==11.4.0
backports.tarfile==1.2.0
chromadb==0.5.3
duckdb==1.0.0
env-yaml==0.0.3
envyaml==1.10.211231
faiss-cpu==1.8.0.post1
google-api-python-client==2.134.0
httptools==0.6.1
ipykernel==6.29.4
jaraco.text==3.12.1
langchain-anthropic==0.1.20
langchain-community==0.2.7
langchain-openai==0.1.17
langgraph==0.1.9
openpyxl==3.1.5
pdf2image==1.17.0
pdfplumber==0.11.2
pip-chill==1.0.3
pypdf2==3.0.1
pytesseract==0.3.10
python-dotenv==1.0.1
sentence-transformers==3.0.1
streamlit==1.36.0
tavily-python==0.3.5
tomli==2.0.1
unstructured==0.14.10
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
